lib/**/*.js
test/**/*.js

node_modules
coverage
.DS_Store
.nyc_output
coverage.lcov

npm-debug.log
*.map
*.dockerfile

# old
main.js
main.js.map
test.js
test.js.map
errors.js
errors.js.map
example.js
example.js.map
