/node_modules
/coverage
/src
/.nyc_output
.babelrc
.eslintrc.json
.editorconfig
.DS_Store
.gitignore
.lintstagedrc
.travis.yml
.huskyrc.json
nodemon.json
coverage.lcov
npm-debug.log
yarn-error.log
yarn.lock
*.map
*..map
*.dockerfile

/test
