node_modules
coverage
src
.babelrc
.eslintrc.json
.editorconfig
.DS_Store
.gitignore
.lintstagedrc
.nyc_output
.travis.yml
nodemon.json
coverage.lcov
npm-debug.log
yarn-error.log
yarn.lock
*.map
*..map
*.dockerfile

code-of-conduct.md

/test
