node_modules
coverage
.DS_Store
.gitignore
.nyc_output
nodemon.json
coverage.lcov
main.coffee
test.coffee
errors.coffee
example.coffee
test.js
main.js.map
test.js.map
example.js
example.js.map
npm-debug.log
yarn.lock
*.map
